/proj

/ip/fir_compiler_0/cmodel
/ip/fir_compiler_0/constraints
/ip/fir_compiler_0/demo_tb
/ip/fir_compiler_0/doc
/ip/fir_compiler_0/hdl
/ip/fir_compiler_0/sim
/ip/fir_compiler_0/synth
/ip/fir_compiler_0/*.mif

/ip/fir_compiler_1/cmodel
/ip/fir_compiler_1/constraints
/ip/fir_compiler_1/demo_tb
/ip/fir_compiler_1/doc
/ip/fir_compiler_1/hdl
/ip/fir_compiler_1/sim
/ip/fir_compiler_1/synth
/ip/fir_compiler_1/*.mif

/ip/fir_compiler_2/cmodel
/ip/fir_compiler_2/constraints
/ip/fir_compiler_2/demo_tb
/ip/fir_compiler_2/doc
/ip/fir_compiler_2/hdl
/ip/fir_compiler_2/sim
/ip/fir_compiler_2/synth
/ip/fir_compiler_2/*.mif